annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
cffi==2.1.1 ; platform_python_implementation != 'PyPy'
click==8.5.0
cryptography==50.0.1
fastapi==0.141.1
h11==0.16.0
httpcore2==2.13.1 ; sys_platform != 'emscripten'
httpx2==2.13.1
httpx2-jsfetch==1.0 ; python_full_version >= '3.12' and sys_platform == 'emscripten'
idna==3.20
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation != 'PyPy'
pydantic==2.13.5
pydantic-core==2.46.5
starlette==1.7.0
tenacity==9.1.4
truststore==0.10.4 ; sys_platform != 'emscripten'
typesafe-sdk==0.7.2
typing-extensions==4.16.0
typing-inspection==0.4.4
uvicorn==0.54.0
